.page{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background: #fff url(../images/background_header.svg) center / cover no-repeat;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.nav{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    height: 39px;
    width: 105px;
    position: relative;
    left: -50px;
}

.nav__links{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

.nav__link{
    color: #000;
    text-decoration: none;
} 

.header__title{
    max-width: 729px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    margin: 183px 0 0;
    z-index: 1;
}

.header__span-accent{
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    display: block;
}

.header__description{
    max-width: 683px;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
}

.header__image{
    width: 646px;
    height: 568px;
    position: absolute;
    right: 5px;
    top: 124px;
}

.header__footer{
    color: #838383;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.header__paragraph {
    margin: 0;
}

.recipes{
    background: #0a2750 url(../images/background_recipes.svg) center / cover no-repeat;
    padding: 100px 80px 215px;
}

.recipes__title{
    color: #fff;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 0;
    max-width: 580px;
}

.recipes__subtitle{
    color: #fff;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0 0;
    max-width: 438px;
}

.recipes__videos{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 80px 0 0;
}

.recipes__iframe{
    width: 480px;
    height: 273px;
    border: none;
}

.recipes__iframe-caption{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0;
}

.reservation{
    background: #D9E7FF url(../images/background_reservation.svg) center / cover no-repeat;
    padding: 100px 0 120px;
}

.reservation__title{
    font-weight: 500;
    margin: 0 0 80px;
    text-align: center;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form{
    margin: 0 auto;
}

.form{
    max-width: 385px;
}

.form__fieldset{
    padding: 0;
    margin: 0;
    border: none;
}

.form__label{
    margin-bottom: 32px;
    display: block;
}

.form__label_type_checkbox{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 0px;
}

.form__input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    height: 60px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    padding: 0 20px;
    border: 1px solid #838383;
}

.form__button{
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    height: 60px;
    color: #fff;
    background-color: #2F80ED;
    transition: opacity 1s ease-in-out;
}

.form__button:hover{
    opacity: 0.7;
}

.form__checkbox{
    border-radius: 2px;
    height: 20px;
    width: 20px;
}